<header>
  <h1>ZGInvest</h1>
</header>
<nav>
    <div class="card" *ngIf="!isLoading">
        <p-table [value]="users" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Tipo Operação</th>
                    <th>Mercado</th>
                    <th>Prazo</th>
                    <th>Instrument</th>
                    <th>Especificação</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Valor Total</th>
                    <th style="width: 5rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr *ngIf="!isLoading">
                    <td>{{user.id}}</td>
                    <td>{{user.data | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{user.tipoOperacao}}</td>
                    <td>{{user.mercado}}</td>
                    <td>{{user.prazo}}</td>
                    <td>{{user.instrument}}</td>
                    <td>{{user.especificacao}}</td>
                    <td>{{user.quantidade}}</td>
                    <td>R$ {{user.preco}},00</td>
                    <td>R$ {{user.valorTotal}},00</td>
                    <td>
                        <button type="button" pButton pRipple icon="pi pi-search" (click)="selectUser(user)"></button>
                    </td>
                </tr>
             </ng-template>
        </p-table>
    </div>
    <div class="s-card no-margin p-grid p-mt-2" *ngIf="!isLoading && isPaginate()">
      <div class="p-col">
        mostrando {{paginate.page+1}} à {{currentPage}} de {{paginate.total}} registros
      </div>
      <div class="p-col p-text-right">
        <button pButton label="Primeiro" (click)="loadPage('first')" [disabled]="isFirstPage()" type="button"
          icon="pi pi-angle-double-left" class="p-button-text"></button>
        <button pButton label="Anterior" (click)="loadPage('prev')" [disabled]="isFirstPage()" type="button"
          icon="pi pi-angle-left" class="p-button-text"></button>
        <button pButton label="Próximo" (click)="loadPage('next')" [disabled]="isLastPage()" type="button"
          icon="pi pi-angle-right" class="p-button-text"></button>
        <button pButton label="Último" (click)="loadPage('last')" [disabled]="isLastPage()" type="button"
          icon="pi pi-angle-double-right" class="p-button-text"></button>
      </div>
    </div>
</nav>
<footer>
  Sistema de investimento financeiro
</footer>